nav{
    background: linear-gradient(to bottom, $green, $orange);
    padding: 10px 40px;
}

nav a img{
    height: 70px;
}

nav ul li{
    display: inline-block;
    margin: 0 10px;
}


nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
	text-transform: uppercase;
}

