nav{
    background: linear-gradient(to bottom, $orange, $green);
    padding: 10px 40px;

    a img{
        height: 70px;
    }

    ul li{
        display: inline-block;
        margin: 0 10px;

        a{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1rem;
            font-weight: 600;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

