@media screen and (max-width:630px){
	h1{        
		font-size: 16px;        
	}
}

@media screen and (min-width: 768px){
	nav{
		flex-direction: row;
		justify-content: space-between;
	}

    .contenedorGal{
		grid-template-columns: repeat(2, 1fr);
	}

    .logoPie{
        width: 40%;
        height: 40%;
        object-fit: cover;
    }
}


@media only screen and (min-width:1200px){
	.contenedorGal{
	grid-template-columns: repeat(3, 1fr);
	}
}